.event-stats-container {
    /* padding: px; */
    /* background-color: #f9f9f9; */
}

.event-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.event-card {
    width: 100%;
    border-radius: 8px;
    /* padding: 10px;  */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-title {
    /* margin: 10; */
    font-size: 23px;
    color: #888;
    
}

.event-number {
    margin: 0;
    font-size: 24px;
    color: #58a4b0;
    font-weight: bold;
    margin-left: 80px;
}
.events-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    margin-top: -20px;
  }
  
  .events-header,
  .events-row {
    display: grid;
    grid-template-columns: 6fr 5fr 5fr 6fr 5fr 4fr 4fr;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .events-header {
    /* background-color: #f7f7f7; */
    font-weight:500;
    text-align: left;
  }
  
  .events-row:last-child {
    border-bottom: none;
  }
  
  .events-row {
    align-items:left;
  }
  
  .events-row > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .badge {
    display: inline-block;
    padding: 0.3em 0.6em;
    border-radius: 0.25rem;
    /* font-size: 0.9rem; */
  }
  .custom-gap {
    gap: 10px; /* Adjust the gap size as needed */
  }
  
  /* ============== */
  /* Popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup box */
.popup-box {
  background: #fff;
  padding: 0px;
  border-radius: 10px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  
  overflow-y: auto;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 5px;
  cursor: pointer;
}

/* Popup title */
.popup-title {
  font-size: 5px;
  margin-bottom: 0px;
  color: #007bff;
}

/* Form styles */
.form-container label {
  font-size: 1px;
  font-weight: bold;
  /* margin-bottom: 5px; */
  display: block;
}

.form-container input, .form-container select {
  width: 100%;
  padding: 8px;
  /* margin-bottom: 15px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.date-time-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.radio-group {
  display: flex;
  gap: 10px;
}

.input-section {
  margin-bottom: 15px;
}

.submit-btn {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.required {
  color: red;
  font-weight: bold;
}
