.dashboard-stats-container {
  margin-top: 20px;
}
.new-wrapper {
  display: flex; /* Use flexbox to align containers side-by-side */
  gap: 10px; 
  margin-left: 300px;
}

.stats-card {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  text-align: left;
  border: none;
  height: 100px;
  width: 250px;
  margin-left: -160px;
}
.stats-card1 {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  text-align: left;
  border: none;
  height: 100px;
  width: 250px;
  margin-left: 10px;
}
.card-title {
  font-size: 20px;
  font-weight: 400;
  color: #6c757d;
  margin-top: -10px;
  margin-left: -7px;
}

.card-value {
  font-size: 25px;
  margin-left: -20px;
  font-weight: 500;
  color: #58a4b0;
}

.card-subtext {
  font-size: 12px;
  color: #adb5bd;
}

.icon-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.5rem;
  color: #6c757d;
}
.outer-container {
/* Add spacing between the two containers */
}

.left-container {
  flex: 1; /* Left container takes up 50% of the width */

}

.right-container {
  flex: 1; /* Right container also takes up 50% of the width */
 margin-right: 20px;
 margin-top: 20px;
  background-color: white; /* Optional background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
}
.accept-button {
  background-color: transparent;
  color: #3cb3d7;
  border: 1px solid #3cb3d7;
  font-weight: 500;
  border-radius: 15px;
  padding: 2px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.accept-button:hover {
  background-color: #58a4b0; /* New hover background color */
  color: white; /* Change text color to white */
}
