.manage-events-page {
  background: #f9fafb;
  padding: 20px;
  border-radius: 16px;
}

/* HEADER */
.manage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.manage-header h2 {
  color: #4fa6b3;
  font-weight: 600;
}

.back-icon {
  cursor: pointer;
  font-size: 18px;
}

.header-actions {
  display: flex;
  gap: 12px;
}

/* SEARCH */
.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background: white;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.search-box input {
  border: none;
  outline: none;
}

/* FILTER */
.filter-btn {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

/* TABLE */
.manage-table {
  background: white;
  border-radius: 16px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  padding: 14px;
  border-bottom: 1px solid #e5e7eb;
  color: #555;
}

tbody td {
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.status.published {
  color: #111;
  font-weight: 500;
}

.action {
  text-align: center;
  cursor: pointer;
}
