/* Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Container */
.modal-contents {
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    width: 600px;
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Close Button */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

/* Form Elements */
h2 {
    margin-top: 0;
    margin-bottom: 2.5rem;
    color: #333;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 1rem;
    /* max-height: 800px; */
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #2c2c2c;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    /* Ensures padding doesn't affect width */
    color: #555555;
    background-color: rgba(88, 164, 176, 0.15);
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

/* Button Group */
.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
    padding-right: 20px;
}

/* Submit Button (Published) */
.submit-button {
    width: auto;
    min-width: 120px;
    padding: 0.75rem 1.5rem;
    background-color: #58a4b0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-button:hover {
    background-color: #468c98;
}

/* Cancel Button */
.cancel-button {
    width: auto;
    min-width: 100px;
    padding: 0.75rem 1.5rem;
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.cancel-button:hover {
    background-color: #e2e6ea;
    border-color: #adb5bd;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}