.event-stats-container {
    padding: 16px;
    /* background-color: #f9f9f9; */
}

.event-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.event-card {
    width: 100%;
    border-radius: 8px;
    padding: 10px; 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-title {
    /* margin: 10; */
    font-size: 20px;
    color: #888;
    
}

.event-number {
    margin: 0;
    font-size: 24px;
    color: #58a4b0;
    font-weight: bold;
    margin-left: 80px;
}
.events-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    margin-top: -20px;
  }
  
  .events-header,
  .events-row {
    display: grid;
    grid-template-columns: 6fr 6fr 5fr 6fr 5fr 4fr 4fr;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .events-header {
    /* background-color: #f7f7f7; */
    font-weight:500;
    text-align: left;
  }
  
  .events-row:last-child {
    border-bottom: none;
  }
  
  .events-row {
    align-items:left;
  }
  
  .events-row > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .badge {
    display: inline-block;
    padding: 0.3em 0.6em;
    border-radius: 0.25rem;
    /* font-size: 0.9rem; */
  }
  .custom-gap {
    gap: 16px; /* Adjust the gap size as needed */
  }
  